Makefile*
moc_*
*.o
.moc
.obj
*.so
*.so.*
*.a
*~
builddir
core
*.moc
debian/tmp

*pro.user
build-stamp
configure-stamp
debian/files
debian/*.postinst.debhelper
debian/*.postrm.debhelper
debian/*.substvars
debian/*.debhelper.log

debian/*-doc
debian/*-tests
debian/*-dbg
debian/*-dev
debian/*[0-9]

debian/signon-plugins

doc/html
doc/qch
doc/signon.tags

lib/SignOn/doc/html
lib/SignOn/doc/qch
lib/SignOn/doc/SignOn.tags
