Source: signon
Section: devel
Priority: optional
Maintainer: Alberto Mardegan <alberto.mardegan@nokia.com>
Build-Depends: debhelper (>= 5), doxygen, pkg-config, libqt4-dev (>= 4.6), libcreds2-dev, aegis-builder (>= 1.4), libsasl2-dev, libcryptsetup0-dev (>= 1.0.7-8), libcellular-qt-dev (>= 0.7.1)
Standards-Version: 3.7.2

Package: signon-doc
Architecture: all
Section: doc
Priority: optional
Description: Documentation for signon
 Doxygen-generated HTML documentation for the signon.

Package: libsignon-qt0
Architecture: any
Priority: optional
Depends: signond0, ${shlibs:Depends}, ${misc:Depends}
Description: Single Sign On framework
 Framework to provide credential storage and authentication service.

Package: libsignon-qt-dbg
Architecture: any
Priority: extra
Depends: libsignon-qt0 (= ${binary:Version})
Description: Debug symbols for libsignon-qt0
 Debug symbols for signon.

Package: libsignon-qt-dev
Architecture: any
Priority: extra
Section: libdevel
Depends: libsignon-qt0 (= ${binary:Version}), libqt4-dev (>= 4.5)
Description: Development files for libsignon-qt
 Headers and static libraries for the libsignon-qt.

Package: libsignon-qt-tests
Architecture: any
Priority: extra
Depends: ci-testing, libsignon-qt0, signon-plugins, signon-test-plugins
XB-Maemo-CI-Packages: libsignon-qt0
XB-Maemo-CI-Stage: fast, staging, acceptance, validation
Description: CI tests for libsignon-qt
 CI tests for libsignon-qt.

Package: libsignon-qt-doc
Architecture: all
Section: doc
Priority: optional
Description: Documentation for libsignon-qt
 Doxygen-generated HTML documentation for the libsignon-qt.

Package: signond0
Architecture: any
Priority: optional
Depends: libcreds2, libqt4-sql-sqlite, libcryptsetup0 (>= 1.0.7), ${shlibs:Depends}, ${misc:Depends}
Recommends: signon-ui, signon-plugins, libsignon-qt0
Conflicts: libsignon-glib1 (< 0.15), libsignon-qt0 (<= 2.9), signon-flickrplugin (< 0.2.35.2), signon-attplugin (< 0.7), signon-skypeplugin (< 0.4), signon-oauth2plugin (< 0.2), signon-facebookplugin (< 0.2.4), signon-googleplugin (< 0.2.7), signon-digestplugin (< 0.2.1)
Description: Single Sign On framework
 Framework to provide credential storage and authentication service.

Package: signond-dev
Architecture: any
Priority: extra
Section: libdevel
Recommends: signond0 (= ${binary:Version}), libqt4-dev (>= 4.5)
Description: Development files for Signon client library development
 Common headers and DBUS interfaces definition files for the Signon Framework. 

Package: signond-dbg
Architecture: any
Priority: extra
Depends: signond0 (= ${binary:Version})
Description: Debug symbols for signond
 Debug symbols for signond.

Package: signond-tests
Architecture: any
Priority: extra
Depends: ci-testing, signond0, signon-plugins, signon-test-plugins
XB-Maemo-CI-Packages: signond0, libcryptsetup0, libdevicemapper0
XB-Maemo-CI-Stage: fast, staging, acceptance, validation
Description: CI tests for signond
 CI tests for signond.

Package: signond-doc
Architecture: all
Section: doc
Priority: optional
Description: Documentation for signond
 Doxygen-generated HTML documentation for the signond.

Package: signon-plugins
Architecture: any
Priority: optional
Depends: signon-saslplugin, signon-passwordplugin
Description: Single Sign On plugins
 Meta package for the Sign On framework authentication plugins.

Package: signon-plugins-dev
Architecture: any
Section: libdevel
Priority: extra
Depends: libsignon-qt-dev
Description: Development files for Single Sign On plugins
 Headers and static libraries for Single Sign On plugin development.

Package: signon-plugins-tests
Architecture: any
Priority: extra
Depends: ci-testing, signond0, signon-plugins
XB-Maemo-CI-Packages: signon-plugins
XB-Maemo-CI-Stage: staging, acceptance, validation
Description: CI tests for signon-plugins
 CI tests for signon-plugins.

Package: signon-test-plugins
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Single Sign On test plugins
 Test plugins for Single Sign On framework. Used for automated unit testing.

Package: signon-saslplugin
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, signond0, libsasl2-2, libsasl2-modules
Description: SASL authentication plugin for Single Sign On
 SASL authentication plugin for Single Sign On.

Package: signon-saslplugin-dev
Architecture: any
Section: libdevel
Priority: extra
Depends: signon-saslplugin (= ${binary:Version}), signon-plugins-dev
Description: Development files for SASL authentication plugin in Single Sign On
 Development files for SASL authentication plugin in Single Sign On.

Package: signon-saslplugin-tests
Architecture: any
Priority: extra
Depends: ci-testing, signon-saslplugin
XB-Maemo-CI-Packages: signon-saslplugin, libsasl2-2
XB-Maemo-CI-Stage: fast, staging, acceptance, validation
Description: CI tests for SASL authentication plugin
 CI tests for SASL authentication plugin.

Package: signon-passwordplugin
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, signond0
Description: Plain Password plugin for Single Sign On
 Password plugin for Single Sign On.

Package: signon-passwordplugin-tests
Architecture: any
Priority: extra
Depends: ci-testing, signon-passwordplugin
XB-Maemo-CI-Packages: signon-passwordplugin
XB-Maemo-CI-Stage: fast, staging, acceptance, validation
Description: CI tests for SSO password plugin
 CI tests for SSO password plugin.

Package: signon-example
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Single Sign On example client
 Single Sign On example client.

Package: signon-utils
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Single Sign On command line utility 
 Single Sign On command line utility.
